@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html,body{
    width: 100%;
    height: 100%;
    margin:0;
}
body {
    display:flex;
    font-family: 'Roboto', sans-serif;
}
input,button{
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 1px solid #dadada;
    border-radius: 8px;
    outline: none;
}
button{
    cursor: pointer;
}
dialog {
    background-color: white;
    align-self: center;
    padding: 0;
    border: none;
    box-shadow: 1px 1px 4px #e2e2e2;
    border-radius: 10px;
}
dialog > header,
dialog > footer {
    display:flex;
    padding: 20px;
}
dialog > main {
    display:flex;
    flex-direction: column;
    padding: 0 20px;
}
dialog > main > * {
    margin: 10px 0;
}
dialog > footer {
    justify-content: center;
}
.menublock{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.pagecontent{
    width: 100%;
    top:50px;
}
.submenu_active{
    font-size: 14px;
    font-family: monospace;
    letter-spacing: 0.5em;
    padding-bottom: 4px;
}
.submenu_button{
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 0.3em;

    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.w100{
    width:100px;
}
.threshold:after {
    content: "\00b0";
}
.minSymbol:after {
    content: "\00b4";
}
.secSymbol:after {
    content: "\02dd";
}
.msInput{
    width: 140px;
    display: inline;
}
.DMS_cell{
    min-width:180px;
}
.NS_cell{
    min-width:36px;
}
.inlineInput{
    display:inline-flex;
}
.tableDiv{
    display:table;
}
.rowDiv{
    display:table-row;
}
.rowCell{
    display:table-cell;
    padding:2px;
}